In [14]:
import pandas as pd
import mysql.connector

In [15]:
cnx = mysql.connector.connect(user = 'root',     #Username
                            password = '4558',
                            host = '127.0.0.1')

In [16]:
cursor = cnx.cursor()
cursor

In [17]:
query = """
SELECT *
FROM project2.comments;
"""

query1 = """
SELECT *
FROM project2.courses;
"""

query2 = """
SELECT *
FROM project2.locations;
"""

query3 = """
SELECT *
FROM project2.schools;
"""

In [18]:
cursor.execute(query)
comments = cursor.fetchall()

comments = pd.DataFrame(comments, columns = [col_name[0] for col_name in cursor.description])
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,290576,Camille Coeurjoly,0,None,2022.0,0,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack
1,290573,Javier Huete Hernani,0,None,2022.0,0,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack
2,290330,Esteban Javier Basili,0,None,2022.0,0,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack
3,290138,Maria,0,None,2022.0,0,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack
4,290136,Anonymous,1,None,2022.0,0,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3561,234894,Stephanie S.,0,None,2015.0,1,Website Manager-UX Lead,Excellent and comprehensive UX course,"<span class=""truncatable""><p>The UX Design Wor...",The UX Design Workshop gave me a great underst...,12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
3562,234877,Joe Fang,0,None,2015.0,1,UX Designer,Springboard helped me start my career in UX,"<span class=""truncatable""><p>Just some backgro...","Just some background information on myself, I ...",12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
3563,234838,Zeina,0,None,2016.0,1,Senior Graphic Designer,Highly recommended,"<span class=""truncatable""><p>I enjoyed the pro...","I enjoyed the program very much, gained a lot ...",12/15/2016,2016-12-15,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
3564,242681,Jean,0,None,2016.0,1,Lead Designer/Creative Director,A way to stay current for the highly motivated!,"<span class=""truncatable""><p>This was my first...",This was my first online experience and it did...,12/12/2016,2016-12-12,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard
3565,234178,Ben,0,None,2016.0,1,None,Springboard is an excellent course for self dr...,"<span class=""truncatable""><p>I really enjoyed ...",I really enjoyed my time with the Springboard ...,12/10/2016,2016-12-10,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [19]:
cursor.execute(query1)
courses = cursor.fetchall()

courses = pd.DataFrame(courses, columns = [col_name[0] for col_name in cursor.description])
courses

                                            courses       school  school_id
0                           Cyber Security Bootcamp     ironhack      10828
1                           Cybersecurity Part-Time     ironhack      10828
2                           Data Analytics Bootcamp     ironhack      10828
3                          Data Analytics Part-Time     ironhack      10828
4                             UX/UI Design Bootcamp     ironhack      10828
5                            UX/UI Design Part-Time     ironhack      10828
6                          Web Development Bootcamp     ironhack      10828
7                         Web Development Part-Time     ironhack      10828
8                                     Bootcamp Prep  app-academy      10525
9                Software Engineer Track: In-Person  app-academy      10525
10                                 App Academy Open  app-academy      10525
11                  Software Engineer Track: Online  app-academy      10525
12                      Cyber Security Career Track  springboard      11035
13                      Data Analytics Career Track  springboard      11035
14                        Data Science Career Track  springboard      11035
15                   Data Science Career Track Prep  springboard      11035
16       Digital Marketing Professional Certificate  springboard      11035
17                   Introduction to Data Analytics  springboard      11035
18                           Introduction to Design  springboard      11035
19  Social Media Marketing Professional Certificate  springboard      11035
20                Software Engineering Career Track  springboard      11035
21    Software Engineering Career Track Prep Course  springboard      11035
22                          Tech Sales Career Track  springboard      11035
23                        UI/UX Design Career Track  springboard      11035
24                                  UX Career Track  springboard      11035

In [20]:
cursor.execute(query2)
locations = cursor.fetchall()

locations = pd.DataFrame(locations, columns = [col_name[0] for col_name in cursor.description])
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,None,None,None,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,None,None,None,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,None,None,None,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,None,None,None,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,None,None,None,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,None,None,None,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,None,None,None,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,None,None,None,ironhack,10828
9,17233,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,ironhack,10828
10,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
11,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
12,15862,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,app-academy,10525
13,16013,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,springboard,11035

In [21]:
cursor.execute(query3)
schools = cursor.fetchall()

schools = pd.DataFrame(schools, columns = [col_name[0] for col_name in cursor.description])
schools

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
1,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
2,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035