In [1]:
import pandas as pd
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user = 'root',     #Username
                            password = '4558',
                            host = '127.0.0.1')

In [3]:
cursor = cnx.cursor()
cursor

In [4]:
query = """
SELECT *
FROM project2.comments;
"""

query1 = """
SELECT *
FROM project2.courses;
"""

query2 = """
SELECT *
FROM project2.locations;
"""

query3 = """
SELECT *
FROM project2.schools;
"""

In [5]:
cursor.execute(query)
comments = cursor.fetchall()

comments = pd.DataFrame(comments, columns = [col_name[0] for col_name in cursor.description])
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,290576,Camille Coeurjoly,0,None,2022.0,0,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack
1,290573,Javier Huete Hernani,0,None,2022.0,0,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack
2,290330,Esteban Javier Basili,0,None,2022.0,0,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack
3,290138,Maria,0,None,2022.0,0,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack
4,290136,Anonymous,1,None,2022.0,0,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,259961,Anna Kastner,0,None,2019.0,0,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,12/17/2019,2019-12-17,Data Analyst,4.3,5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-bootcamp
5371,259918,Tim Eberhart,0,Software Engineering,2019.0,1,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",12/16/2019,2019-12-16,,5.0,5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-bootcamp
5372,259773,Tammy L. Walters,0,Software Engineering,2019.0,0,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,12/12/2019,2019-12-12,,4.3,5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-bootcamp
5373,259645,Kathy R. Kelly,0,Software Engineering,2019.0,0,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",12/10/2019,2019-12-10,,4.7,5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-bootcamp
5374,259559,Liam Murrey,0,None,2019.0,0,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",12/6/2019,2019-12-06,Data Analyst,4.7,5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-bootcamp

In [6]:
cursor.execute(query1)
courses = cursor.fetchall()

courses = pd.DataFrame(courses, columns = [col_name[0] for col_name in cursor.description])
courses

                                   courses              school  school_id
0                  Cyber Security Bootcamp            ironhack      10828
1                  Cybersecurity Part-Time            ironhack      10828
2                  Data Analytics Bootcamp            ironhack      10828
3                 Data Analytics Part-Time            ironhack      10828
4                    UX/UI Design Bootcamp            ironhack      10828
..                                     ...                 ...        ...
75  User Experience Design Diploma Program        brainstation      10571
76         Web Development Diploma Program        brainstation      10571
77                            Data Analyst  practicum-bootcamp      11225
78                          Data Scientist  practicum-bootcamp      11225
79                       Software Engineer  practicum-bootcamp      11225

[80 rows x 3 columns]

In [7]:
cursor.execute(query2)
locations = cursor.fetchall()

locations = pd.DataFrame(locations, columns = [col_name[0] for col_name in cursor.description])
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,None,None,None,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,None,None,None,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,None,None,None,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,None,None,None,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,None,None,None,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,None,None,None,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,None,None,None,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,None,None,None,ironhack,10828
9,17233,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,ironhack,10828
10,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
11,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
12,15862,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,app-academy,10525
13,16013,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,springboard,11035
14,15807,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,udacity,11118
15,15935,"New York City, NY",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,brainstation,10571
16,15985,"Toronto, Canada",2.0,Canada,CA,1547.0,Toronto,toronto,NaN,None,None,None,brainstation,10571
17,16010,"Vancouver, Canada",2.0,Canada,CA,31138.0,Vancouver,vancouver,71.0,British Columbia,BC,,brainstation,10571
18,16909,"Boston, MA",1.0,United States,US,47.0,Boston,boston,23.0,Massachusetts,MA,massachusetts,brainstation,10571
19,16910,"Chicago, IL",1.0,United States,US,39.0,Chicago,chicago,15.0,Illinois,IL,illinois,brainstation,10571
20,16940,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,brainstation,10571
21,17706,"Miami, FL",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,brainstation,10571
22,17731,"London, UK",11.0,United Kingdom,GB,31176.0,London,london,NaN,None,None,None,brainstation,10571
23,17154,Online,NaN,None,None,NaN,None,None,1.0,Online,Online,online,practicum-bootcamp,11225

In [8]:
cursor.execute(query3)
schools = cursor.fetchall()

schools = pd.DataFrame(schools, columns = [col_name[0] for col_name in cursor.description])
schools

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
1,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
2,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
3,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
4,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
5,practicum.yandex.com/?utm_source=referral&utm_...,"<span class=""truncatable""><p>Practicum Bootcam...",https://d92mrp7hetgfk.cloudfront.net/images/si...,practicum-bootcamp,11225

In [9]:
## ADDING SCHOOL ID COLUMN

comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,290576,Camille Coeurjoly,0,None,2022.0,0,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack
1,290573,Javier Huete Hernani,0,None,2022.0,0,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack
2,290330,Esteban Javier Basili,0,None,2022.0,0,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack
3,290138,Maria,0,None,2022.0,0,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack
4,290136,Anonymous,1,None,2022.0,0,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,259961,Anna Kastner,0,None,2019.0,0,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,12/17/2019,2019-12-17,Data Analyst,4.3,5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-bootcamp
5371,259918,Tim Eberhart,0,Software Engineering,2019.0,1,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",12/16/2019,2019-12-16,,5.0,5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-bootcamp
5372,259773,Tammy L. Walters,0,Software Engineering,2019.0,0,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,12/12/2019,2019-12-12,,4.3,5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-bootcamp
5373,259645,Kathy R. Kelly,0,Software Engineering,2019.0,0,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",12/10/2019,2019-12-10,,4.7,5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-bootcamp
5374,259559,Liam Murrey,0,None,2019.0,0,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",12/6/2019,2019-12-06,Data Analyst,4.7,5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-bootcamp

In [10]:
########

def schoolid(row):
    if row['school'] == 'ironhack':
        return 10828
    elif row['school'] == 'app-academy':
        return 10525
    elif row['school'] == 'springboard':
        return 11035
    elif row['school'] == 'udacity':
        return 11118
    elif row['school'] == 'brainstation':
        return 10571
    elif row['school'] == 'practicum-bootcamp':
        return 11225

In [11]:
comments.apply(schoolid, axis=1)

0       10828
1       10828
2       10828
3       10828
4       10828
        ...
5370    11225
5371    11225
5372    11225
5373    11225
5374    11225
Length: 5375, dtype: int64

In [12]:
comments['school_id'] = comments.apply(schoolid, axis=1)

In [13]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school,school_id
0,290576,Camille Coeurjoly,0,None,2022.0,0,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack,10828
1,290573,Javier Huete Hernani,0,None,2022.0,0,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack,10828
2,290330,Esteban Javier Basili,0,None,2022.0,0,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack,10828
3,290138,Maria,0,None,2022.0,0,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack,10828
4,290136,Anonymous,1,None,2022.0,0,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,259961,Anna Kastner,0,None,2019.0,0,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,12/17/2019,2019-12-17,Data Analyst,4.3,5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-bootcamp,11225
5371,259918,Tim Eberhart,0,Software Engineering,2019.0,1,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",12/16/2019,2019-12-16,,5.0,5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-bootcamp,11225
5372,259773,Tammy L. Walters,0,Software Engineering,2019.0,0,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,12/12/2019,2019-12-12,,4.3,5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-bootcamp,11225
5373,259645,Kathy R. Kelly,0,Software Engineering,2019.0,0,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",12/10/2019,2019-12-10,,4.7,5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-bootcamp,11225
5374,259559,Liam Murrey,0,None,2019.0,0,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",12/6/2019,2019-12-06,Data Analyst,4.7,5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-bootcamp,11225

In [ ]:
### DROPPING COLUMNS in Comments

comments.drop('name', inplace=True, axis=1)
comments.drop('tagline', inplace=True, axis=1)
comments.drop('body', inplace=True, axis=1)
comments.drop('rawBody', inplace=True, axis=1)
comments.drop('createdAt', inplace=True, axis=1)
comments.drop('queryDate', inplace=True, axis=1)


### in School

schools.drop('website', inplace=True, axis=1)
schools.drop('description', inplace=True, axis=1)
schools.drop('LogoUrl', inplace=True, axis=1)


## in Location

locations.drop('country.id', inplace=True, axis=1)
locations.drop('country.name', inplace=True, axis=1)
locations.drop('city.id', inplace=True, axis=1)
locations.drop('city.keyword', inplace=True, axis=1)
locations.drop('state.id', inplace=True, axis=1)
locations.drop('state.name', inplace=True, axis=1)
locations.drop('state.abbrev', inplace=True, axis=1)
locations.drop('state.keyword', inplace=True, axis=1)

locations

In [20]:
## We send the CLEAN data back to SQL -- project2v2

from sqlalchemy import create_engine

# Credentials to database connection
hostname='127.0.0.1'
dbname="project2v2"
uname="root"
pwd="PASSWORD"

# Create dataframe
comments
courses
locations
schools


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
comments.to_sql('comments', engine, index=False)
courses.to_sql('courses', engine, index=False)
locations.to_sql('locations', engine, index=False)
schools.to_sql('schools', engine, index=False)

6