In [19]:
import pandas as pd
import mysql.connector

In [20]:
cnx = mysql.connector.connect(user = 'root',     #Username
                            password = 'password',
                            host = '127.0.0.1')

In [21]:
cursor = cnx.cursor()
cursor

In [22]:
query = """
SELECT *
FROM project2.comments;
"""

query1 = """
SELECT *
FROM project2.courses;
"""

query2 = """
SELECT *
FROM project2.locations;
"""

query3 = """
SELECT *
FROM project2.schools;
"""

In [23]:
cursor.execute(query)
comments = cursor.fetchall()

In [27]:
cursor.execute(query1)
courses = cursor.fetchall()

In [29]:
cursor.execute(query2)
locations = cursor.fetchall()

In [31]:
cursor.execute(query3)
schools = cursor.fetchall()

In [26]:
comments = pd.DataFrame(comments, columns = [col_name[0] for col_name in cursor.description])

In [28]:
courses = pd.DataFrame(courses, columns = [col_name[0] for col_name in cursor.description])

In [34]:
locations = pd.DataFrame(locations, columns = [col_name[0] for col_name in cursor.description])
locations

    website                       description  LogoUrl       school  school_id
0       NaN                   Berlin, Germany      NaN     ironhack      10828
1       NaN               Mexico City, Mexico      NaN     ironhack      10828
2       NaN            Amsterdam, Netherlands      NaN     ironhack      10828
3       NaN                 Sao Paulo, Brazil      NaN     ironhack      10828
4       NaN                     Paris, France      NaN     ironhack      10828
5       NaN          Miami, FL, United States      NaN     ironhack      10828
6       NaN                     Madrid, Spain      NaN     ironhack      10828
7       NaN                  Barcelona, Spain      NaN     ironhack      10828
8       NaN                  Lisbon, Portugal      NaN     ironhack      10828
9       NaN                            Online      NaN     ironhack      10828
10      NaN  San Francisco, CA, United States      NaN  app-academy      10525
11      NaN  New York City, NY, United States      NaN  app-academy      10525
12      NaN                            Online      NaN  app-academy      10525
13      NaN                            Online      NaN  springboard      11035

In [33]:
schools = pd.DataFrame(schools, columns = [col_name[0] for col_name in cursor.description])
schools

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
1,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
2,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035